.heading {
    width: 100%;
    margin: 0;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 3px solid black;
}

#playbutton, #status, #restart {
    font-size: 25px;
    margin-top: 10px;
}

.modal-dialog {
width: 70%;
}

.modal-body {
    text-align: left;
    font-size: 20px;
}

#malika {
    background-color: lightblue;
    line-height: 2;
}

canvas {
    border: 5px solid darkslateblue;
    box-shadow: 5px 5px 30px darkgrey;
    border-radius: 10px;
}